*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignoruj katalogi generowane przez Android Studio
.idea/
.gradle/
build/

# Ignoruj pliki konfiguracyjne Android Studio
local.properties

# Ignoruj pliki zapisywane na lokalnym komputerze u¿ytkownika
.DS_Store
desktop.ini
thumbs.db

# Dodaj w³asne elementy do ignorowania, jeœli jest to konieczne
