<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.locationguardpro">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocationGuardPro"
        tools:targetApi="31">
        <activity
            android:name=".QrScannerActivity"
            android:exported="false" />
        <activity
            android:name=".LoginScreenActivity"
            android:exported="true" />
        <activity
            android:name=".ReportsScreenActivity"
            android:exported="true" />
        <activity
            android:name=".HelpScreenActivity"
            android:exported="true" />
        <activity
            android:name=".TrackingScreenActivity"
            android:exported="true" /> <!-- Zmienić potem na false i przetestować -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" /> <!-- ADD API KEY ( Maps SDK for Android ) -->
        <activity
            android:name=".HomeScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>